/* Слайдер */
.slick-slider {
}
/* Слайдер запущен */
.slick-slider.slick-initialized {
}
/* Слайдер с точками */
.slick-slider.slick-dotted {
}
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}
/* Лента слайдов */
.slick-track {
  display: flex;
}
/* Слайд */
.slick-slide {
}
/* Слайд активный (показывается) */
.slick-slide.slick-active {
}
/* Слайд основной */
.slick-slide.slick-current {
}
/* Слайд по центру */
.slick-slide.slick-center {
}
/* Клонированный слайд */
.slick-slide.slick-cloned {
}
/* Стрелка */
.slick-arrow {
}
/* Стрелка влево */
.slick-arrow.slick-prev {
}
/* Стрелка вправо */
.slick-arrow.slick-next {
}
/* Стрелка не активная */
.slick-arrow.slick-disabled {
}
.slick-dots {
  display: flex;
  gap: 24px;
  justify-content: center;
  @media screen and (max-width: 744px) {
    gap: 16px;
  }
}
.slick-dots li {
}
.slick-dots button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--blue);
  color: var(--white);
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  @media screen and (max-width: 744px) {
    width: 40px;
    height: 40px;
    font-size: 16px;
  }
}
/* Активная точка */
.slick-dots li.slick-active button {
  background-color: var(--wdblue);
  color: #fff;
}
.slider-navigation {
  display: flex;
  justify-content: center;
  gap: 24px;
  width: 100%;
  cursor: pointer;
  .btn {
    background-color: var(--blue);
    width: 40px;
    height: 40px;
    padding: 0;
  }
  .prev {
  }
  .next {
  }
}
