.text_20 {
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.text_16 {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.text_12 {
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.text_14 {
  color: #dbdbdb;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.title_20 {
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}
.title_24 {
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.hero-title {
  color: #fff;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  @media screen and (max-width: 1024px) {
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  @media screen and (max-width: 744px) {
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}

.subtitle_16 {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 87%;
  text-transform: uppercase;
}

.section-title {
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-bottom: 40px;
  &::before {
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    background-color: var(--white);
  }
  &::after {
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    background-color: var(--white);
  }
  @media screen and (max-width: 1024px) {
    font-size: 24px;
    margin-bottom: 32px;
  }
}
